.new-question {
    padding: 50px 0;
    width: 60%;
    min-width: 300px;
}

.new-question-prompt {
    margin: 15px 0;
}

.answer-choice {
    margin: 15px 0;
    display: flex;
    align-items: center;
}