.quiz-creation-form {
    padding: 50px;
    max-width: 600px;
    margin-left: 5%;
}

.new-question {
    padding: 50px 0;
    min-width: 300px;
}

.new-question-prompt {
    margin: 15px 0;
}

.answer-choice {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.quiz-topic {
    margin-bottom: 10px;
}

.correct-answer {
    color: #fff;
    background-color: #4BB543 !important;
}